/* === BASE HEADING === */ 

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: var(--title-font-style);
  font-weight: 300;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}


h2{
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: var(--body-font-weight);
}








/* Style 9
   ----------------------------- */
.heading h1 {
  text-align:center; 
  font-size:3rem; 
  text-transform:capitalize; 
  color:#222; 
  letter-spacing:1px;
  font-weight:400;
}

.heading h1 span {
  margin-top: 5px;
    font-size:15px; 
    color:#444; 
    word-spacing:1px; 
    font-weight:normal; 
    letter-spacing:2px;
    text-transform: capitalize; 
    font-family:"Raleway", sans-serif; 
    font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.heading h1 span:after,.heading h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color:#f8f8f8;
}