.spotlight{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
	gap: 2rem;
}


.spotlight_item{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding: 1rem;
	gap: 1rem;
}


.spotlight_item-img{
	width: fit-content;
	height: 30rem;
	padding-bottom: 1rem;
}

.spotlight_item-title{
	color: var(--green);
	font-size: var(--title-font-size);
	font-style: var(--title-font-style);
	margin: 0;
	text-align: start;
	max-width: 40rem;
}

.spotlight_item-text{
	margin: 0;
	text-align: start;
	max-width: 40rem;
}

.spot{	
	font-size: 2rem;
	margin: 2rem;
}



@media screen and (max-width: 750px){
	.spotlight{
		display: flex;
		flex-direction: column;
	}
}